<div id='header'>
        <div class='row'>
          <div class='col-md-5 col-md-offset-1'>
            <div id='logo'>
              <a href='/' title='Home'>
                <img class='img-responsive' src='/logo.png'>
              </a>
            </div>
          </div>
          <div class='col-md-5 col-md'>
            <div id="header_ad">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Header Banner -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:468px;height:60px"
                 data-ad-client="ca-pub-6049291985277853"
                 data-ad-slot="7821904721"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            </div>
          </div>
        </div>
        <div class='visible-md visible-lg visible-sm' id='nav'>
          {% include menu.html %}
        </div>
      </div>
