<div class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <ul class='nav nav-tabs nav-justified'>
      <li><a href="/">Home</a></li>
      <li role='presentation' class='dropdown'>
        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>Landlording <span class='caret'></span>
        </a>
        <ul class='dropdown-menu' role='menu'>
          <li><a href="/landlording">Being a Landlord</a></li>
          <li role='presentation' class='divider'></li>
          {% for node in site.pages %}
            {% if node.menu == 'landlording' or node.menu == 'Landlording' %}
              <li><a href='{{node.url}}'>{{node.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li role='presentation' class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown' href='#'>Finances <span class='caret'></span></a>
        <ul class='dropdown-menu' role='menu'>
          <li><a href="/finances">Finances</a></li>
          <li role='presentation' class='divider'></li>
          {% for node in site.pages %}
            {% if node.menu == 'finances' or node.menu == 'Finances' %}
              <li><a href='{{node.url}}'>{{node.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li role='presentation' class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown' href='#'>Documents <span class='caret'></span></a>
        <ul class='dropdown-menu' role='menu'><li><a href="/documents">Documents</a></li>
          <li role='presentation' class='divider'></li>
          {% for node in site.pages %}
            {% if node.menu == 'documents' or node.menu == 'Documents' %}
              <li><a href='{{node.url}}'>{{node.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>
