<div class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <ul class='nav nav-tabs nav-justified'>
      <li><a href="/">Home</a></li>
      <li role='presentation' class='dropdown'>
        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>Landlording <span class='caret'></span>
        </a>
        <ul class='dropdown-menu' role='menu'>
          <li><a href="/landlording">Being a Landlord</a></li>
          <li role='presentation' class='divider'></li>
          {% for node in site.pages %}
            {% if node.menu == 'landlording' %}
              <li><a href='{{node.url}}'>{{node.title}}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="/landlording/screening">Tenant Screening Process</a></li>
          <li><a href="/landlording/reasons">Reasons for Becoming a Landlord</a></li>
          <li><a href="/landlording/rental-process">How to Rent Property</a></li>
          <li><a href="/landlording/initial-conditions">Initial Property Conditions</a></li>
        </ul>
      </li>
      <li role='presentation' class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown' href='#'>Finances <span class='caret'></span></a>
        <ul class='dropdown-menu' role='menu'>
          <li><a href="/finances">Finances</a></li>
          <li role='presentation' class='divider'></li>
          {% for node in site.pages %}
            {% if node.menu == 'finances' %}
              <li><a href='{{node.url}}'>{{node.title}}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="/finances/sell-vs-rent">Sell vs Rent</a></li>
          <li><a href="/finances/rent">Setting Rent</a></li>
          <li><a href="/finances/late-fees">Late Fees</a></li>
          <li><a href="/finances/security-deposits">Security Deposits</a></li>
        </ul>
      </li>
      <li role='presentation' class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown' href='#'>Documents <span class='caret'></span></a>
        <ul class='dropdown-menu' role='menu'><li><a href="/documents">Documents</a></li>
          <li role='presentation' class='divider'></li>
          {% for node in site.pages %}
            {% if node.menu == 'documents' %}
              <li><a href='{{node.url}}'>{{node.title}}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="/documents/tenant-application">Tenant Application</a></li>
          <li><a href="/documents/renewal-form">Lease Renewal Form</a></li>
        </ul>
      </li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>
